* {
    color: black;
}

body {
    background-color: whitesmoke;
}

/* INFO DIV */

#info-wrapper {
    display: flex;
    flex-direction: column;
}

#info-div {
    display: flex;
    /* height: 100px; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info-div-box {
    flex: 1;
    /* padding: 10px; */
    height: 100px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#info-text {
    padding: 10px;
}

.wrapper-top, .wrapper-bottom {
    display: flex;
    flex-direction: column; 
}

/* RESET BUTTON */

#reset-div {
    /* padding: 10px; */
    display: flex;
    height: 50px;
    border: 1px solid red;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

/* STEP DIVS */

.step-div { 
    display: flex;
    flex-direction: row;
}

.step-div-box {
    flex: 1;
    padding: 10px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    
}

.step-div-box-top {
    padding: 10px;
    border: 1px solid purple;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: aquamarine;
}

.step-div-box-middle {
    padding: 10px;
    border: 1px solid orange;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    vertical-align: middle;
    display: flex;
    background-color: white;
}

.step-div-box-bottom {
    padding: 10px;
    border: 1px solid green;
    background-color: white;
}

/* TIMER DIVS */

.timer-div {
    display: flex;
    flex-direction: row;
}

.timer-div-box {
    flex: 1;
    padding: 10px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.timer-div-box-top {
    padding: 10px;
    border: 1px solid purple;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.timer-div-box-middle {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid orange;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.timer-div-box-bottom {
    padding: 10px;
    border: 1px solid green;

}

/* CHECKBOX STYLINGS */

.checkbox-selected {
    color: hotpink;
}

.inactive-checkbox {
    pointer-events: none;
    color: gray;
}

/* HIDDEN DIV */

#hidden-div {
    padding: 10px;
    border: 1px solid red;
    display: none;
}

/* FONT SIZES */

h2 {
    font-size: small;
}

button {
    font-size: x-small;
}

/* div color change */

.parent-div-color-change {
    background-color: yellow;

/* MEDIA QUERY FOR LARGER SCREENS  */

@media (min-width: 768px) {

    #info-wrapper {
        flex-direction: row;
        justify-content: space-between; 
    }

    #info-div {
        flex: 3; 
    }

    #reset-div {
        flex: 1; 
        height: 100px;
    }

    .wrapper-top, .wrapper-bottom {
      flex-direction: row; 
      justify-content: space-between; 
    }
  
    #step-one-two-div, #step-three-four-div {
      flex: 1; 
    }

    #step-eight-nine-div, #step-ten-eleven-div {
        flex: 1; 
      }
  }