* {
    color: white;
}

body {
    background-color:lightskyblue;
}

/* INFO DIV */

#info-wrapper {
    display: flex;
    flex-direction: column;
}

#info-div {
    display: flex;
    flex-direction: row;
}

.info-div-box {
    flex: 1;
    padding: 10px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.wrapper-top, .wrapper-bottom {
    display: flex;
    flex-direction: column; 
}

/* RESET BUTTON */

#reset-div {
    padding: 10px;
    border: 1px solid red;
}

/* STEP DIVS */

.step-div { 
    display: flex;
    flex-direction: row;
}

.step-div-box {
    flex: 1;
    padding: 10px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.step-div-box-top {
    padding: 10px;
    border: 1px solid purple;
}

.step-div-box-middle {
    padding: 10px;
    border: 1px solid orange;
}

.step-div-box-bottom {
    padding: 10px;
    border: 1px solid green;
}

/* TIMER DIVS */

.timer-div {
    display: flex;
    flex-direction: row;
}

.timer-div-box {
    flex: 1;
    padding: 10px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.timer-div-box-top {
    padding: 10px;
    border: 1px solid purple;
}

.timer-div-box-middle {
    padding: 10px;
    border: 1px solid orange;
}

.timer-div-box-bottom {
    padding: 10px;
    border: 1px solid green;

}

/* CHECKBOX STYLINGS */

.checkbox-selected {
    color: hotpink;
}

.inactive-checkbox {
    pointer-events: none;
    color: gray;
}

/* HIDDEN DIV */

#hidden-div {
    padding: 10px;
    border: 1px solid red;
}

/* MEDIA QUERY FOR LARGER SCREENS  */

@media (min-width: 768px) {

    #info-wrapper {
        flex-direction: row;
        justify-content: space-between; 
    }

    #info-div {
        flex: 3; 
    }

    #reset-div {
        flex: 1; 
    }

    .wrapper-top, .wrapper-bottom {
      flex-direction: row; 
      justify-content: space-between; 
    }
  
    #step-one-two-div, #step-three-four-div {
      flex: 1; 
    }

    #step-eight-nine-div, #step-ten-eleven-div {
        flex: 1; 
      }
  }