/* // Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: normal;
}

body {
    background-color: #F2F2F2;
}

/* LOGO SECTION */

#logo {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    background-color: #D8E0D9;
    border-radius: 10px 10px 0 0px;
    padding: 10px;
}

#logo-description {
    text-align: center;
    font-size: large;
    font-weight: normal;
    font-style: oblique;
    /* background-color: #D8E0D9; */
    /* padding: 10px; */
    border-radius: 0 0 10px 10px;
}

/* INFO DIV */

#info-wrapper {
    display: flex;
    flex-direction: column;
}

#info-div {
    display: flex;
    /* height: 100px; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

.info-div-box {
    flex: 1;
    padding: 10px;
    height: 100px;
    max-width: 100%;
    /* border: 1px solid red; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: center;
}

#info-text {
    font-size: x-small;
    /* border: 1px solid black; */
    height: 100%;
    min-width: 100%;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    font-style: oblique;
}

.wrapper-top, .wrapper-bottom {
    display: flex;
    flex-direction: column;
}

/* RESET BUTTON */

#reset-div {
    padding: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

/* STEP DIVS */

.step-div { 
    display: flex;
    flex-direction: row;
}

.step-div-box {
    flex: 1;
    padding: 10px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    
}

.step-div-box-top {
    padding: 10px;
    /* border: 1px solid purple; */
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: #D8E0D9;
    border-radius: 0 20px 0 0;
    font-weight: bold;
}

.step-div-box-middle {
    padding: 10px;
    /* border: 1px solid orange; */
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    vertical-align: middle;
    display: flex;
    background-color: white;
    font-size: x-small;
}

.step-div-box-bottom {
    padding: 10px;
    max-height: 48px;
    /* border: 1px solid green; */
    background-color: white;
    border-radius: 0 0 0 20px;
    align-items: center;
    justify-content: center;
    text-align: right;
}

/* TIMER DIVS */

.timer-div {
    display: flex;
    flex-direction: row;
}

.timer-div-box {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.timer-div-box-top {
    padding: 10px;
    /* border: 1px solid purple; */
    align-items: center;
    justify-content: center;
    text-align: left;
    border-radius: 0 20px 0 0;
    background-color: #D8E0D9;
    font-weight: bold;
}

.timer-div-box-middle {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: white;
    /* border: 1px solid orange; */
    height: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: x-small;
}

/* .timer-div-box-bottom {
    padding: 10px;
    border: 1px solid green;
    /* border-radius: 0 0 0 20px; */

/* CHECKBOX STYLINGS */

.fa-circle {
    font-size: 20px;
    cursor: pointer;
}

.fa-circle:hover {
    background-color: #e0e0e0; /* Slightly darker gray */
    font-size: 22px;
    transform: scale(1.15); /* Gradual increase in size */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); /* Circular shadow effect */
    color: green;
}
.checkbox-selected {
    color: #FFFFFF;
    font-size: 22px;
}

.inactive-checkbox {
    pointer-events: none;
    color: gray;
}

/* HIDDEN DIV */

#hidden-div {
    display: none;
    border-radius: 20px;
    background-color: #50C878;
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 80%;
}

/* FONT SIZES */

h2 {
    font-size: x-small;
}

.next-previous-buttons {
    font-size: x-small;
    height: 100%;
    width: 100%;
    border: none;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: xx-large;
    cursor: pointer;
}

.next-previous-buttons:hover {
    background-color: #E0D2B1; 
    transition: background-color 0.3s ease; 
}

#reset-button {
    font-size: x-small;
    height: 100%;
    width: 100%;
    background-color: #F4A9A1;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

#reset-button:hover {
    background-color: white;
    transition: background-color 0.3s ease; 
}

.button {
    font-size: x-small;
    height: 50px;
    width: max-content;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

/* div color change */

.parent-div-color-change {
    background-color: #50C878;
    transition: background-color 0.5s ease; /* Smooth transition */
}

/* MEDIA QUERY FOR LARGER SCREENS  */

@media (min-width: 768px) {

    #info-wrapper {
        flex-direction: row;
        justify-content: space-between; 
    }

    #info-div {
        flex: 3;
        border-radius: 10px;
    }

    #reset-div {
        flex: 1; 
        height: 100px;
    }

    .wrapper-top, .wrapper-bottom {
      flex-direction: row;
      justify-content: space-between; 
    }
  
    #step-one-two-div, #step-three-four-div {
      flex: 1; 
    }

    #step-eight-nine-div, #step-ten-eleven-div {
        flex: 1; 
    }

    .step-div-box-middle {
        font-size: small;
    }
}