/* Import Google Fonts 'Poppins' and 'Open Sans'*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* General Page Styles */
* {
    font-family: 'Poppins', 'Open sane', sans-serif;
    color: black;
    font-weight: normal;
}

body {
    background-color: #F2F2F2;
    font-family: 'Open Sans';
}

footer {
    font-family: 'Open Sans';
}

/* Header Section */
#logo {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    background-color: #D8E0D9;
    border-radius: 10px 10px 0 0px;
    padding: 10px;
}

#logo-description {
    text-align: center;
    font-size: large;
    font-weight: normal;
    font-style: oblique;
    border-radius: 0 0 10px 10px;
}

/* Info Div */
#info-wrapper {
    display: flex;
    flex-direction: column;
}

#info-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

.info-div-box {
    flex: 1;
    padding: 10px;
    height: 100px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#info-text {
    font-size: x-small;
    height: 100%;
    min-width: 100%;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    font-style: oblique;
}

/* Reset Button */
#reset-div {
    padding: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

#reset-button {
    font-size: large;
    height: 100%;
    width: 100%;
    background-color: #F4A9A1;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

#reset-button:hover {
    background-color: white;
    transition: background-color 0.3s ease; /* Transition code taken and adapted from https://css-tricks.com/almanac/properties/t/transition/ */
}

/* Step Divs */
.step-div { 
    display: flex;
    flex-direction: row;
}

.step-div-box {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.step-div-box-top {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: #D8E0D9;
    border-radius: 0 20px 0 0;
    font-weight: bold;
}

.step-div-box-middle {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    vertical-align: middle;
    display: flex;
    background-color: white;
    font-size: x-small;
}

.step-div-box-bottom {
    padding: 10px;
    max-height: 48px;
    background-color: white;
    border-radius: 0 0 0 20px;
    align-items: center;
    justify-content: center;
    text-align: right;
}

/* Timer Divs */
.timer-div {
    display: flex;
    flex-direction: row;
}

.timer-div-box {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.timer-div-box-top {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: left;
    border-radius: 0 20px 0 0;
    background-color: #D8E0D9;
    font-weight: bold;
}

.timer-div-box-middle {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: white;
    height: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: xx-small;
}

/* Checkbox Stylings */
.fa-circle {
    font-size: 20px;
    cursor: pointer;
}

.fa-circle:hover {
    cursor: pointer;
}

.checkbox-selected {
    color: #FFFFFF;
    font-size: 22px;
}

.inactive-checkbox {
    pointer-events: none;
    color: gray;
}

/* Hidden Div */
#hidden-div {
    display: none;
    border-radius: 20px;
    background-color: #50C878;
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 80%;
}

/* Button Styles */
.next-previous-buttons {
    font-size: x-small;
    height: 100%;
    width: 100%;
    border: none;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: xx-large;
    cursor: pointer;
}

.next-previous-buttons:hover {
    background-color: #E0D2B1; 
    transition: background-color 0.3s ease; /* Transition code taken and adapted from https://css-tricks.com/almanac/properties/t/transition/ */ 
}

.button {
    font-size: x-small;
    height: 50px;
    width: max-content;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition code taken and adapted from https://css-tricks.com/almanac/properties/t/transition/ */
}

/* Div Color Change */
.parent-div-color-change {
    background-color: #50C878;
    transition: background-color 0.5s ease; /* Transition code taken from https://css-tricks.com/almanac/properties/t/transition/ */
}

/* Footer Styles */
#footer {
    background-color: #f1f1f1; 
    padding: 20px; 
    text-align: center; 
    border-top: 2px solid #ddd; 
    position: relative;
    bottom: 0;
}

.footer-content {
    display: inline-block; 
    text-align: center; 
}

.footer-content p {
    margin: 0; 
    font-size: 16px;
    color: #0073e6; 
}

.footer-content a {
    color: #0073e6; 
    text-decoration: none; 
}

.footer-content a:hover {
    text-decoration: underline;
}

/* Media Query for Larger Screens (min-width: 768px) */
@media (min-width: 768px) {

    p {
        font-size: normal;
    }

    #info-wrapper {
        flex-direction: row;
        justify-content: space-between; 
    }

    #info-div {
        flex: 3;
        border-radius: 10px;
    }

    #reset-div {
        flex: 1; 
        height: 100px;
    }

    .wrapper-top, .wrapper-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between; 
    }
  
    #step-one-two-div, #step-three-four-div {
      flex: 1; 
    }

    #step-eight-nine-div, #step-ten-eleven-div {
        flex: 1; 
    }

    .step-div-box-middle {
        font-size: small;
    }
}